In [10]:
import mysql.connector
from mysql.connector import Error

# ‚úÖ Ensure port is an integer
hostname = "dz2mh.h.filess.io"
database = "olistdataSQL_topicartme"
port = 3307
username = "olistdataSQL_topicartme"
password = "c1b1598dca33a92b34ce53b07d0d627114707b37"

try:
    # ‚úÖ Attempt to connect
    connection = mysql.connector.connect(
        host=hostname,
        database=database,
        user=username,
        password=password,
        port=port,
        connect_timeout=10  # Increase timeout in case of slow connection
    )

    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("‚úÖ Connected to MySQL Server version:", db_Info)

        cursor = connection.cursor()
        cursor.execute("SELECT database();")
        record = cursor.fetchone()
        print("‚úÖ Connected to database:", record)

except Error as e:
    print("‚ùå Error while connecting to MySQL:", e)
    connection = None  # Ensure connection is None if it fails

finally:
    # ‚úÖ Close connection only if it's successful
    if connection and connection.is_connected():
        cursor.close()
        connection.close()
        print("üîí MySQL connection closed.")
    else:
        print("‚ö†Ô∏è No active connection to close.")

‚úÖ Connected to MySQL Server version: 8.0.36-28
‚úÖ Connected to database: ('olistdataSQL_topicartme',)
üîí MySQL connection closed.

In [12]:
import pandas as pd
from pathlib import Path

dataset_path = Path("/Users/harishprabhu/Desktop/my_development/big_data_project/olistdataset/olist_order_payments_dataset.csv")
order_payments = pd.read_csv(dataset_path)
order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45